.Autocomplete-client {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6C6C6C;
}

.Autocomplete-client__Navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.Autocomplete-client__Input-container {
  width: 80%;
  height: 30%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Autocomplete-client__train-form-container {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Autocomplete-client__Farley-container {
  position: absolute;
  bottom: 70px;
}

.Autocomplete-client__Footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}