:root {
  /* Colors */
  --asymmetrik-red: #BE1E2D;
  --asymmetrik-light-grey: #6C6C6C;
  --asymmetrik-dark-grey: #4A4A4A;
  --app-white: white;

  /* Alignment */
  --app-padding: 40px;
  --app-max-width: 1440px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
