.input-container {
    padding-left: 20px;
    border-radius: 15px;
    height: 100px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: white;
    background-color: #BE1E2D;
    font-size: 48px;
}

.input-container__input {
    padding-left: 20px;
    border: none;
    outline: none;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    background-color: #BE1E2D;
    font-size: 48px;
    color: white;
}