.train-form {
    background-color: var(--asymmetrik-red);
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}

.train-form__textarea {
    width: 100%;
    height: 300px;
    background-color: var(--asymmetrik-red);
    border: none;
    resize: none;
    font-size: 48px;
    color: var(--app-white);
    box-sizing: border-box;
    padding: 20px;
    outline: none;
    font-family: 'Arial';
}

.train-form__submit-button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 100px;
    width: 250px;
    font-size: 36px;
    color: var(--asymmetrik-dark-grey);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@media only screen and (max-width: 786px) {
    .train-form__textarea  {
        height: 200px;
        font-size: 18px;
    }

    .train-form__submit-button {
        height: 50px;
        width: 150px;
        font-size: 18px;
    }
}