.speech-bubble__text-container {
    border-radius: 15px;
    background-color: var(--app-white);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 48px;
    color: var(--asymmetrik-dark-grey);
}

.speech-bubble__pointer-container {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right: 10px solid var(--app-white);
    position: relative;
    right: 30px;
}

.speech-bubble__text-container__word {
    margin: 0;
    cursor: pointer;
}

.speech-bubble__text-container__word:hover {
    background-color: var(--asymmetrik-red);;
    color: var(--app-white);
    border-radius: 15px;
}

.speech-bubble__text-container__error-message {
    margin: 0;
    font-size: 36px;
}