.farley__image-container {
    height: 200px;
}

.farley__speech-bubble-container {
    position: absolute;
    bottom: 90px;
    left: 170px;
}

@media only screen and (max-width: 786px) {
    .farley__image-container {
        height: 150px;
    }

    .farley__speech-bubble-container {
        position: absolute;
        bottom: 65px;
        left: 130px;
    }
}
