.farley__image-container {
    height: 200px;
}

@media only screen and (max-width: 786px) {
    .farley__image-container {
        height: 150px;
    }

    .farley__speech-bubble-container {
        position: absolute;
        bottom: 65px;
        left: 130px;

    }
}
