.navbar {
    background-color: var(--app-white);
    height: 150px;
    padding-left: 200px;
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar__options-container {
    display: grid;
    grid-template-columns: 150px 200px 250px;
    height: 100%;
    align-items: center;
    justify-items: center;
}
