.navbar {
    background-color: var(--app-white);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;
    height: 150px;
    padding: var(--app-vertical-padding) var(--app-horizontal-padding);
}

.navbar__alignment-container {
    margin: auto;
    max-width: var(--app-max-width);;
    height: 100%;
}

.navbar__alignment-container__options-container {
    align-items: center;
    display: grid;
    grid-template-columns: 150px 120px 250px;
    height: 100%;
    justify-items: left;
}

@media only screen and (max-width: 760px) {
    .navbar {
        height: 100px;
    }

    .navbar__alignment-container__options-container {
        grid-template-columns: 100px 100px 100px;
    }
}

@media only screen and (max-width: 400px) {
    .navbar {
        height: 100px;
    }

    .navbar__alignment-container__options-container {
        grid-template-columns: 75px 75px 75px;
    }
}